 body {
    font-size: 15px;
    line-height: 1.42857143;
    color: #323232;
    background-color: #F8F9FA;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}


 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.centralise{
	margin-left: 200px;
}
h2{
	/*color: linear-gradient(to right, #7451a2 , #ee2e24);*/
  background: -webkit-linear-gradient(#7451a2, #ee2e24);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*color: blue;*/
}
/*Styling for submit button*/
.editBut{
	margin-top: 30px;
	margin-left: 120px;
  font-weight: bolder;
}
.editRow{
	margin-left: 3px;
}
.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*.form-control-file{
	border-radius: 15px;
}*/