 /********************************************* GENERAL  *********************************************************************/ 
 body {
    font-size: 15px;
    line-height: 1.42857143;
    color: #323232;
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
     font-weight: bolder;
     ::placeholder {
  color: peachpuff;
  font-size: 13px;
}
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 10px
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 10px
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 10px
}


 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.acuretlogo{
  height: 135px;
}
.img-fluid{ 
  max-width: 100%;
  height: auto;
}
a{
  font-size:20px;
  cursor: pointer;
}

}
/*.memb{
  color: #fff;
  font-size: 15px;
  font-weight: bolder;*/
}
 .memb:hover{
    color: #7451a2;
    text-decoration:none;
    }

.top-content{
  margin-top:15px;
  padding:2px;
}
.top-content p{
   font-size:15px;
  border: 1px solid #f1f1f1
  font-weight:bolder;
}
.Acuret a{
  color:#85144B;
  font-size:18px;
}
footer{
  background: #F8F9FA;
}
.footer-content{
  padding:20px;
}
.footer-content a{
  color:#85144B;
}

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background:linear-gradient(to right, #7451a2 , #ee2e24);
    color: #fff;
    padding:1% 0;
    font-size: 1.1em;
    border:0;
    height: 15px;
  }
.current:hover{
    background-color: #61DAFB;
  }

  .navbar-inverse .navbar-nav .active a,
  .navbar-inverse .navbar-nav .active a:focus,
  .navbar-inverse .navbar-nav .active a :hover{
    color:#61DAFB;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .active a:hover{
    background:transparent;
  }

   .navbar-inverse .navbar-nav li a{
    color:#F8FFFF;
  }
   .navbar-inverse .navbar-nav li a:hover{
    color:#61DAFB;
  }

 .navbar-nav .dropdown-menu {
    background-color:#20232A;
  }
  .navbar-nav .dropdown-menu li a:hover{
    background-color:#20232A;
    font-weight: 500;
  }
  .secondnav{
     /*width: 100%;*/
     background:linear-gradient(to right, #7451a2 , #ee2e24);
  }
  .ctrl-img{
    height: 150px;
  }
  .ctrl-img,.connect{
    display: inline;
  }



/********************************************* HEADER CONTENT *********************************************************************/



  @media (min-width:0 ){
    /***************** HEADER CONTENT ***********/
       .navbar-content{
          display: none;
          transition: all .3s ease-out;
        }
        .otherClass{
          display: block;
          /*position: absolute;*/
          top: 0;
          right: 0;
          left: 0;
          margin:0;
          background-color:transparent;
        }
        .nav>li{
          /*background-color: rgba(0,0,0,.5);*/
          padding: 3px;
          display: block;
          border-radius: 3px;
          /*float: left;*/
          /*padding: .5em;*/
        }
       
        .nav ul li:hover{
          color: #fff;
        }
        .burger{
          width: 25px;
          height: 25px;
          position: absolute;
          right: 25px;
          top: 20px;
          z-index: 10;
        }
        .burger::before{
        content: "";
        width: 25px;
        height: 4px; 
        top:0;
        position: absolute;
        background-color: #fff;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
      }

      .burger-middle{
        width: 25px;
        height: 4px; 
        top: 11px;
        position: absolute;
        background-color: #fff;
        transition: all .3s ease-out;
      }

        .burger::after{
        content: "";
        width: 25px;
        height: 4px; 
        bottom: 0;
        position: absolute;
        background-color: #fff;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;
      }

      .icon-display::before{
        transform:rotate(45deg) scaleX(1.25);

      }

      .icon-display::after{
        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
      }


      .icon-display div{
        opacity: 0;
      }
      .top-content{
        font-size:17px;
        margin-top:25px;
        padding:2px;
      }

      .readonlies {
          font-size: 7px;
          font-weight: 900;
      }
      .readonlypast{
          font-size: 6px;
          font-weight: 900;
      }
    }

      /***********************************Carousel************************************************/

      



    .meet{
      color: #85144B;
      font-weight: bolder;
      padding-top: 20px;

    }



      /****************************************Section one *****************************/
     .header-text {
     	color:#85144B;
     }
     .connect{
      font-size:20px;
      margin-bottom: 20px;
    }
    .knowledge{
       font-size: 15px;
      color: #fff;
      font-weight: bolder;
    }
    .carou{
    height:300px;
    }
    .anchor{
      font-size: 16px;
    }
    .card-title{
      font-weight: bolder;
      color: #15416e;
    }
    .card-text{
      font-weight: bolder;
    }
    .card-text a{
      font-size: 12px;
    }
    .card-deck {
      padding: 10px;
      margin-top: 20px;
    }

.editRisk{
  margin-top: 20px;
}
.editRisk p{
 font-weight: bolder;
}
.editRisk a{
 color: #85144B;  
}



















@media(min-width: 800px){

  /********** HEADER ********************/
        .navbar-content{
          display: block;
        }

        .burger{
          display: none;
        }
        ul li{
          border-bottom: none;
          left: 0;
        }
        .nav>li{
          background-color:transparent;
          padding: 0;
          display: block;
          border-radius:0;
        }
    .navbar-brand{
      float:none;
      display: block;
      padding: 5px;
    }
    .top-content{
      font-size:21px;
      margin-top:25px;
      padding:2px;
    }
    .connect{
      font-size:35px;
      font-weight: bold;
    }
     .carou{
      height:550px;
    }
    .knowledge{
      font-size: 15px;
      color: #fff;
      font-weight: bolder;
    }
    .anchor{
      font-size: 20px;
    }
    .readonlies {
font-size: 15px;
font-weight: 900;
}
.readonlypast{
          font-size: 6px;
          font-weight: 900;
      }
    }
    

}

  @media(min-width: 1010px){
    .connect{
      font-size:35px;
    }
    .knowledge{
      font-size: 15px;
      color: #fff;
      font-weight: bolder;
    }
    .carou{
      height:650px;
    }
    
     
    .anchor{
      font-size: 20px;
    }
    .readonlies {
font-size: 15px;
font-weight: 900;
}
.readonlypast{
          font-size: 6px;
          font-weight: 900;
      }
    }     
}

